.container {
  padding: 0.01em 30px; }
  @media (min-width: 992px) {
    .container {
      padding: 0.01em 60px; } }

.row::after {
  content: "";
  clear: both;
  display: table; }

[class*="col-"] {
  float: left; }

.navigation {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  transition: all 0.25s;
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #000;
  position: fixed;
  top: 0px;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  width: 150px;
  z-index: 9;
  transform: translateX(-150px);
  overflow-x: scroll;
  z-index: 999; }
  @media (max-width: 991px) {
    .navigation {
      bottom: 0; } }
  @media (min-width: 992px) {
    .navigation {
      transform: translateX(0);
      overflow-x: hidden; } }
  .navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .navigation ul li .link, .navigation ul li .brand, .navigation ul li .socials {
      padding: 0.75rem 0.5rem; }
      @media (min-width: 992px) {
        .navigation ul li .link, .navigation ul li .brand, .navigation ul li .socials {
          min-height: calc(100vh / 7); } }
      .navigation ul li .link.link-active, .navigation ul li .brand.link-active, .navigation ul li .socials.link-active {
        border-left: 3px solid #FF6265; }
    .navigation ul li .link, .navigation ul li .brand {
      border-left: 3px solid rgba(255, 255, 255, 0.1); }
      .navigation ul li .link:hover, .navigation ul li .brand:hover {
        cursor: pointer; }
    .navigation ul li .brand {
      background-color: #fff; }
      .navigation ul li .brand:hover {
        border-left: 3px solid #FF6265; }
    .navigation ul li .link {
      text-decoration: none;
      color: #000;
      text-align: center;
      padding: 10px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      flex-direction: column; }
      @media (min-width: 992px) {
        .navigation ul li .link {
          border-bottom: 1px solid rgba(108, 117, 125, 0.08); } }
      .navigation ul li .link .logo {
        height: 40px; }
      .navigation ul li .link .icon {
        display: none;
        height: 50px; }
        @media (min-width: 992px) {
          .navigation ul li .link .icon {
            display: block; } }
      .navigation ul li .link .logo img, .navigation ul li .link .icon img {
        height: 100%;
        width: auto; }
      .navigation ul li .link span {
        display: block;
        font-size: 21px;
        text-transform: uppercase;
        margin-top: 0px;
        padding: 20px 10px; }
        @media (min-width: 992px) {
          .navigation ul li .link span {
            font-size: 12px;
            margin-top: 5px;
            padding: 0px; } }
    .navigation ul li .socials {
      padding-top: 1rem;
      text-align: center; }
      .navigation ul li .socials a {
        height: 30px;
        line-height: 30px;
        display: inline-block;
        width: 30px;
        border-radius: 100%;
        margin: 5px;
        background-color: #ededed;
        border: 2px solid transparent;
        transition: all 0.5s; }
        .navigation ul li .socials a i {
          color: #444; }
        .navigation ul li .socials a:hover {
          border: 2px solid #444;
          cursor: pointer; }
    .navigation ul li p {
      margin-top: 15px;
      text-align: center;
      color: #6c757d;
      font-size: 0.8rem; }

.mobile-open {
  transform: translateX(0); }
  @media (max-width: 991px) {
    .mobile-open {
      width: 250px; } }

.nav-color-1 {
  background-color: #fff; }

.nav-color-2 {
  background-color: #fff; }

.nav-color-3 {
  background-color: #fff; }

.nav-color-4 {
  background-color: #fff; }

.nav-color-5 {
  background-color: #fff; }

@keyframes logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
