.container {
  padding: 0.01em 30px; }
  @media (min-width: 992px) {
    .container {
      padding: 0.01em 60px; } }

.row::after {
  content: "";
  clear: both;
  display: table; }

[class*="col-"] {
  float: left; }

.intro {
  position: relative;
  color: #fff;
  background-color: #000000;
  background: #065785;
  background-position: top center;
  background-size: cover;
  min-height: 30vh;
  height: 30%;
  text-align: center; }
  .intro .content {
    padding: 8vh 6vw; }
    @media (min-width: 992px) {
      .intro .content {
        min-height: 40vh;
        height: 40%;
        padding: 10vh 14vw;
        margin: 0 auto; } }
    .intro .content h1 {
      font-size: 3vw;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 1.35;
      margin-bottom: 20px; }
      @media (max-width: 800px) {
        .intro .content h1 {
          font-size: 24px; } }
      @media (min-width: 2000px) {
        .intro .content h1 {
          font-size: 60px; } }
      @media (min-width: 992px) {
        .intro .content h1 {
          margin-bottom: 20px; } }
    .intro .content p {
      font-size: 3vw;
      font-family: "Oswald", sans-serif;
      font-weight: 300;
      line-height: 1.8; }
      @media (max-width: 533.33333px) {
        .intro .content p {
          font-size: 16px; } }
      @media (min-width: 600px) {
        .intro .content p {
          font-size: 18px; } }
      @media (min-width: 992px) {
        .intro .content p {
          padding: 0 10%; } }
