.wrapper {
  margin: 0;
  padding: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
  min-height: 100vh;
  height: 100%;
  color: #fff; }
  .wrapper .main_section {
    min-height: 100vh;
    height: 100%;
    display: block; }
    @media (min-width: 768px) {
      .wrapper .main_section {
        margin-left: 150px;
        width: calc(100% - 150px);
        transition: all 0.5s; } }
