@import '../../../assets/sass/variable';
@import '../../../assets/sass/helpers';

.home{
  color:#000;
  .home-container{
    position: relative;
    color: #fff;
    background-color: #000000;
   // background-image: url(../../../assets/images/bg-ext.jpg) left top, linear-gradient(#eb01a5, #d13531);
    background: #065785;
    background: url(../../../assets/images/bg.jpg); /* fallback */
    background: linear-gradient(to bottom,rgba(9,87,133, 0.5), rgba(0,0,0, 0.9)),url(../../../assets/images/bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    @media #{$min768} {
      min-height:100vh;
    }
    height:100%;
    text-align:center;
    .content{
      @media #{$min768} {
        padding: 30vh 14vw 9vh;
        margin:0 auto;
      }

      padding: 10vh 6vw 2vh;

      h1{
        font-family:$main-ff;
        @include responsive-font(3vw, 30px, 60px);
        font-weight:600;
        @media #{$min992} {
          margin-bottom:40px;
          font-weight:600;
        }
        line-height:1.35;
        margin-bottom:20px;
      }
      p{
        @include responsive-font(3vw, 16px, 21px);
        font-family: $second-ff;
        font-weight:300;
        line-height:1.5;
        @media #{$min992} {
          padding: 0 10%;
        }
      }
    }
    .logos{
      margin:2rem auto 0;
      @media #{$min992} {
        width:90%;
      }
      width:90%;
      h6{
        @include responsive-font(3vw, 11px, 14px);
        text-transform: capitalize;

        @media #{$min992} {
          width:100%;
          color:rgba(255,255,255,.5);
        }
        margin-bottom: 20px;
        &:before,
        &:after {

            background-color: rgba(255,255,255,.1);
            content: "";
            display: inline-block;
            height: 1px;
            position: relative;
            vertical-align: middle;
            @media #{$min992} {
              width: 40%;
            }
            width: 30%;
        }
        &:before{
          right: 0.5em;
          margin-left: -40%;
        }
        &:after{
          left: 0.5em;
          margin-right: -40%;
        }
      }
      ul{
        .partners{
          display:inline-block;
          height:15px;
          margin:10px;
          @media #{$min992} {
            height:20px;
          }
          img{
            height:100%;
            width:auto;
          }
        }
      }
    }
    .home-bottom{
      padding:100px 0;
      width:100%;
      .scroll-downs {
          @media #{$min992} {
          display: block;
          position: absolute;
          right: 0;
          bottom: 50px;
          left: 0;
          margin: auto;

          width :24px;
          height: 45px;
          .mouse {
            width: 2px;
            padding: 10px 15px;
            height: 35px;
            border: 2px solid rgba(255,255,255, .7);
            border-radius: 25px;
            opacity: 0.75;
            box-sizing: content-box;
            .scroller {
              width: 2px;
              height: 10px;
              border-radius: 25%;
              background-color: #fff;
              animation-name: scroll;
              animation-duration: 2.2s;
              animation-timing-function: cubic-bezier(.15,.41,.69,.94);
              animation-iteration-count: infinite;
            }
          }
        }
      }

      @keyframes scroll {
        0% { opacity: 0; }
        10% { transform: translateY(0); opacity: 1; }
        100% { transform: translateY(15px); opacity: 0;}
      }
    }
  }

  .intro-container{
    text-align:center;
    min-height:70vh;
    padding:5rem 0;
    .col-1{
      @media #{$min992} {
        float:right;
        width: 50%;
      }
      width: 100%;
      .img-container{
        height:200px;
        @media #{$min992} {
          height:400px;
        }
        height:250px;
        box-sizing:border-box;
        img{
          height:100%;
          width:auto;
        }
      }
    }
    .col-2 {
      @media #{$min992} {
        float:left;
        width: 50%;
      }
      text-align:left;
      h2{
        @media #{$min992} {
          margin:7rem 0.5rem 2rem;
        }
        color: $brand-primary;
        margin:1rem 0.5rem ;
        @include responsive-font(3vw, 28px, 35px);
        font-weight:600;
      }
      p{
        @include responsive-font(3vw, 16px, 21px);
        font-weight:300;
        line-height:1.5;
        color:$grey-text;
      }
    }
  }

  .services-container{
    @media #{$min992} {
      background: url('../../../assets/images/bg2.jpg') no-repeat;
      //background-position: 100% calc(100% + 350px);
      background-size: cover;
      background-attachment:fixed;
    }
    background: rgba(0,0,0,.1);

    min-height:45vh;
    display:flex;
    flex-wrap:wrap;
    @media #{$min992} {
      flex-direction: row;
    }
    .col-1, .col-2{
      @media #{$min992} {
        flex: 1 1 50%;
      }
      flex: 1 1 100%;
    }
    .col-1{
      @media #{$min992} {
        padding: 7rem 140px 7rem 60px;
      }
      padding: 1rem 2rem;
      @media #{$min992} {
        background: rgba(6, 85, 131, 0.6);
      }
      background: $lighter-blue;

      //  height:100%;
      h2{
        @media #{$min992} {
          //margin:7rem 0 1rem;
          color: #fff;
        }

        margin:2rem 0 1rem;
        @include responsive-font(3vw, 28px, 35px);
        font-weight:400;
        text-transform:capitalize;
        letter-spacing: 0.8px;
      }
      p{
        font-family: $second-ff;
        @include responsive-font(3vw, 16px, 21px);
        font-weight:300;
        line-height:1.5;

        @media #{$min992} {
          //margin:7rem 0 1rem;
          color: #fff;
        }
      }
    }
    .col-2 {
      @media #{$min992} {
        background: none;
        padding:5rem 2rem;
      }
      background: $lighter-blue;
      position:relative;
      padding: 2rem;
      .block-container{
        display: flex;
        flex-wrap: wrap;
        @media #{$min992} {
          position:relative;
          left:-20%;
          width:120%;
          padding:2rem;
          background-color:#fff;
          flex-direction: row;
        }

        .block{
          text-align:left;
          padding:5px;
          @media #{$min992} {
            padding:15px;
            flex: 1 50%;
          }
          @media #{$min768} {
            flex: 1 0 50%;
          }
          @media #{$max767} {
            margin-bottom: 30px;
          }
          flex: 1 0 100%;
          .img-container{
            height:40px;
            img{
              height:100%;
              width:auto;
            }
          }
          h5{
            font-family: $second-ff;
            font-weight:400;
            font-size:16px;
            margin:0.5rem 0;
            color:$darker-grey;
            @media #{$min992} {
              color:$darker-grey;
            }
          }
          p{
            @include responsive-font(3vw, 15px, 15px);
            font-weight:300;
            line-height:1.6;
            @media #{$min992} {
              color:$grey-text;
            }
            color:$grey-text;
          }
        }
      }
    }
  }

}