@import '../../../assets/sass/variable';
@import '../../../assets/sass/helpers';

.navigation{
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  transition: all 0.5s;
  font-family: $main-ff;
  background: #fff;
  position: fixed;
  top: 0px;
  box-shadow: 1px 0px 20px rgba(0,0,0,0.08);
  width:$navigation-width;
  z-index: 9;
  transform: translateX(-$navigation-width);
  overflow-x: hidden;
  @media #{$min768} {
    transform: translateX(0);
  }
  ul{
    list-style-type: none;
    margin:0;
    padding:0;
    li{
      .link, .brand, .socials{
        @media #{$min768} {
          min-height: calc(100vh / 7);
        }
        padding:0.75rem 0.5rem;
        &.link-active{
          //background-color: #036;
        }
      }
      .link, .brand{
        &:hover{
          cursor: pointer;
          background-color: #036;
        }
      }
      .brand{
        background-color: #fff;
      }
      .link{
        text-decoration: none;
        color:#fff;
        text-align: center;
        padding:10px;
        box-sizing:border-box;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .logo{
          height:40px;
        }
        .icon{
          height:50px;
        }
        .logo, .icon{
          img{
            height:100%;
            width:auto;
          }
        }
        span{
          display:block;
          //font-size: 0.7rem;
          @include responsive-font(3vw, 9px, 12px);

        text-transform: uppercase;
          margin-top:5px;
          //font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
          //@media #{$min768} {
          //  font-size: calc( 14px + 20px - 8px * ((100vw - 768px) / 1500));
          //}
        }
      }
      .socials{
        padding-top:1rem;
        text-align:center;
        a{
          height: 30px;
          line-height: 30px;
          display: inline-block;
          width: 30px;
          border-radius: 100%;
          margin: 5px;
          background-color: #ededed;
          border:2px solid transparent;
          transition: all 0.5s;
          i{
            color:$dark-grey-link;
          }
          &:hover{
            border:2px solid $dark-grey-link;
            cursor:pointer;
          }
        }
      }
      p{
        margin-top:15px;
        text-align: center;
        color:#6c757d;
        font-size:0.8rem;
      }
    }
  }
}


.nav-color-1{  background-color: $nav-color-1 }
.nav-color-2{  background-color: $nav-color-2 }
.nav-color-3{  background-color: $nav-color-3 }
.nav-color-4{  background-color: $nav-color-4 }
.nav-color-5{  background-color: $nav-color-5 }

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
