.navigation {
  height: 100%;
  /* 100% Full-height */
  min-height: 100vh;
  width: 150px;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */ }

.app {
  text-align: center; }
  .app .header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white; }
    .app .header .logo {
      height: 80px; }
    .app .header .title {
      font-size: 1.5em; }
  .app .intro {
    font-size: large; }

@keyframes logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
