$main-fs: 14px;
$main-ff: 'Roboto', sans-serif;
$main-fw: 400;
$main-lh: 1.5714286;
$module: 1.5714286rem;

//$main-ff:'Barlow Semi Condensed', sans-serif;
$second-ff: 'Oswald', sans-serif;
$heading-ff:'Lato', sans-serif;

$animation: ease-in-out;

$navigation-width: 150px;
$navigation-width-mobile: 250px;

$max543 : only screen and (max-width: 543px);
$min544 : only screen and (min-width: 544px);
$max767 : only screen and (max-width: 767px);
$min768 : only screen and (min-width: 768px);
$max991 : only screen and (max-width: 991px);
$min992 : only screen and (min-width: 992px);
$max1199 : only screen and (max-width: 1199px);
$min1200 : only screen and (min-width: 1200px);

$headers-ff: $second-ff;
$headers-fw: 700;

$success-color: #008000;
$info-color: #00bfff;
$warning-color: #ff8c00;
$danger-color: #dc143c;

$brand-primary: #135C90;
$accent-color: #FF6265;
$light-blue: #bbdefb;
$lighter-blue: #e5f7ff;
$light-grey: rgba(255, 254, 254, .5);
$lighter-grey: #ededed;
$lighter-grey-bg: #F7F8FB;
$dark-grey: #a0a0a0;
$darker-grey: #212121;
$sidebar-link: #757575;
$dark-grey-link: #444;
$grey-text: #333;
$white: #ffffff;

//
//$nav-color-1 : #064B79;
//$nav-color-2 : #065583;
//$nav-color-3 : #066290;
//$nav-color-4 : #447799;
//$nav-color-5 : #ff6265;


$nav-color-1 : #fff;
$nav-color-2 : #fff;
$nav-color-3 : #fff;
$nav-color-4 : #fff;
$nav-color-5 : #fff;


$linkedin : #0077B5;
$twitter : #1da1f2;


@function nav-color($key: $nav-color) {
  @return map-get($nav-color, $key);
}

@mixin button-outline($color){
  border-color: $color;
  color: $color;
}

@mixin button-outline-hover($color){
  background: $color;
  color: white;
}

